<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <h2>Ingreso Administrador</h2>

    <form method="POST">
        <label>Usuario:</label>
        <input type="text" name="usuario" required>

        <label>Contraseña:</label>
        <input type="password" name="contrasena" required>

        <button type="submit">Entrar</button>
    </form>
</body>
</html>